<div class="card mx-auto" style="width: 30rem; margin-top:10rem;">
  <div class="card-header text-center">
    New Password
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input class="form-control" placeholder="Enter email" type="email" name="password" [(ngModel)]="data.email"/>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Enter new password" type="password" name="password" [(ngModel)]="data.password"/>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Confirm new password" type="password" name="cpassword" [(ngModel)]="data.password_confirmation"/>
      </div>
      <div class="form-group text-center">
        <input type="submit" class="form-control btn btn-success col-lg-8" value="Reset Password"/>
      </div>
    </form>
  </div>
</div>
