<div class="wrapper">
    <div class="container">
        <form class="col-md-6 mr-auto" #registerForm = ngForm (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" *ngIf="error && error.firstName">
                <strong>{{error.firstName}}</strong>
            </div>
            <div class="form-group">
              <input type="text" name="firstname" [(ngModel)]="user.firstName" class="form-control form-control-lg is-valid" id="firstName" aria-describedby="emailHelp" placeholder="First Name"
                required>
            </div>
            <div class="alert alert-danger" *ngIf="error && error.lastName">
                <strong>{{error.lastName}}</strong>
            </div>
            <div class="form-group">
              <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control form-control-lg" id="lastName" placeholder="Last Name">
            </div>
            <div class="alert alert-danger" *ngIf="error && error.email">
                <strong>{{error.email}}</strong>
            </div>
            <div class="form-group">
              <input type="email" name="email" [(ngModel)]="user.email" class="form-control form-control-lg is-valid" id="emailAddress" aria-describedby="emailHelp" placeholder="Enter email"
                required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="alert alert-danger" *ngIf="error && error.password">
                <strong>{{error.password}}</strong>
            </div>
            <div class="form-group">
              <input type="password" name="password" [(ngModel)]="user.password" class="form-control form-control-lg" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
          </form>
        <div class="text-white p-3">
            already registered?<a routerLink="login" class="text-white"> click here</a>
        </div>
    </div>
    
  </div>