
<div class="header-banner">
    <div class="jumbotron banner mt-5">
          <div class="container">
                <h1 class="text-center mt-5">Learn skills and make your way towards success</h1>
          </div>
          <div class="container">
            <p class="text-center">It is a long established fact that a reader will be distracted by the 
                  readable content of a page when looking at its layout. The point of
                   using Lorem Ipsum is that it has a more-or-less normal distribution 
                   of letters, as opposed to using 'Content here, content here', making</p>
          </div>
          <div class="container" style="width:30rem;">
            <a routerLink="register" class="btn btn-outline-success btn-lg btn-block" *ngIf="!isLoggedIn">REGISTER</a>
          </div>
    </div>
  </div>