<div class="card-body">
    <form #createNewCategory=ngForm (ngSubmit)="onSubmit(createNewCategory)" class="form-inline m-2 float-right">
        <div class="m-1">
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter New Category Name"
                   [(ngModel)]="category.name" required>
        </div>
        <div class="m-1">
            <input type="submit" value="Create" class="form-control btn btn-success"
                   [disabled]="!createNewCategory.valid"/>
        </div>
    </form>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><span class="ml-2">Name</span></th>
            <th scope="col"><span class="float-right mr-5">Action</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td>
                <div class="float-right">
                    <a class="btn btn-success text-white ml-2" data-toggle="modal" data-target="#editModal" (click)="setCatId(category.id)">Edit</a>
                    <input type="button" class="btn btn-danger text-white ml-2" (click)="setCatId(category.id)" value="Delete" data-toggle="modal" data-target="#deleteModal">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeEditModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm=ngForm (ngSubmit)="editCategory(editForm)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Category Name" name="name" [(ngModel)]="category.name" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="form-control btn btn-success" [disabled]="!editForm.valid">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeDeleteModal>Close</button>
                <form (ngSubmit)="deleteCategory()">
                    <button type="submit" class="btn btn-primary">continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
